In [1]:
import pandas as pd

In [2]:
dates = pd.date_range("2022", "2032", freq="Y").year
dates

Int64Index([2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031], dtype='int64')

In [3]:
df = pd.DataFrame(columns=["Revenue", "EBITDA", "Taxes",
                           "Cap_Ex", "Work_Cap",
                           "Cash_Flow", "Discount_Factor",
                           "Present_Value_fcf"],
                  index=dates)
df.loc[2022, "Revenue"] = 222 * (1.18)
df

,Revenue,EBITDA,Taxes,Cap_Ex,Work_Cap,Cash_Flow,Discount_Factor,Present_Value_fcf
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
for i in range(1, len(df)):
    df.iloc[i]["Revenue"] = df.iloc[i - 1]["Revenue"] * (1.18)

In [5]:
df

,Revenue,EBITDA,Taxes,Cap_Ex,Work_Cap,Cash_Flow,Discount_Factor,Present_Value_fcf
2022,261.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,309.1128,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024,364.753104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025,430.408663,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2026,507.882222,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2027,599.301022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2028,707.175206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2029,834.466743,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2030,984.670757,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2031,1161.911493,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df["EBITDA"] = df["Revenue"] * 0.45

In [7]:
df["Taxes"] = -df["EBITDA"] * 0.21

In [8]:
df["Cap_Ex"] = -df["Revenue"] * 0.03

In [9]:
df["Work_Cap"] = -df["Revenue"] * 0.06

In [10]:
df["Cash_Flow"] = df["EBITDA"] + df["Taxes"] + df["Cap_Ex"] + df["Work_Cap"]

In [11]:
df

,Revenue,EBITDA,Taxes,Cap_Ex,Work_Cap,Cash_Flow,Discount_Factor,Present_Value_fcf
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,NaN,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,NaN,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,NaN,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,NaN,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,NaN,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,NaN,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,NaN,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,NaN,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,NaN,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,NaN,NaN

In [12]:
df.iloc[0]["Discount_Factor"] = 0.94

In [13]:
        for i in range(1, len(df)):
    df.iloc[i]["Discount_Factor"] = 1 / ((1 + 0.06) ** (i + 1))
df

,Revenue,EBITDA,Taxes,Cap_Ex,Work_Cap,Cash_Flow,Discount_Factor,Present_Value_fcf
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.94,NaN
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.889996,NaN
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.839619,NaN
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.792094,NaN
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.747258,NaN
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.704961,NaN
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.665057,NaN
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.627412,NaN
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.591898,NaN
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.558395,NaN

In [14]:
df["Present_Value_fcf"] = df["Cash_Flow"] * df["Discount_Factor"]

In [15]:
df

,Revenue,EBITDA,Taxes,Cap_Ex,Work_Cap,Cash_Flow,Discount_Factor,Present_Value_fcf
2022,261.96,117.882,-24.75522,-7.8588,-15.7176,69.55038,0.94,65.377357
2023,309.1128,139.10076,-29.21116,-9.273384,-18.546768,82.069448,0.889996,73.041517
2024,364.753104,164.138897,-34.469168,-10.942593,-21.885186,96.841949,0.839619,81.310368
2025,430.408663,193.683898,-40.673619,-12.91226,-25.82452,114.2735,0.792094,90.515315
2026,507.882222,228.547,-47.99487,-15.236467,-30.472933,134.84273,0.747258,100.762332
2027,599.301022,269.68546,-56.633947,-17.979031,-35.958061,159.114421,0.704961,112.169388
2028,707.175206,318.228843,-66.828057,-21.215256,-42.430512,187.755017,0.665057,124.86781
2029,834.466743,375.510034,-78.857107,-25.034002,-50.068005,221.55092,0.627412,139.003788
2030,984.670757,443.101841,-93.051387,-29.540123,-59.080245,261.430086,0.591898,154.740066
2031,1161.911493,522.860172,-109.800636,-34.857345,-69.71469,308.487501,0.558395,172.25781

In [16]:
revenue_2032 = df.loc[2031, "Revenue"] * 1.18
ebitda_2032 = revenue_2032 * 0.45
terminal_value = ebitda_2032 * 32.70
present_value_of_project_fcf = df["Cash_Flow"].sum()

In [18]:
statement= f"""
Our projected Present Value of Projected Future Cash Flows are: {present_value_of_project_fcf}.

We are providing revenue guidance in 2032 to be: {revenue_2032}.

With an estimated EBITDA around: {ebitda_2032}.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: {terminal_value}.

"""

In [19]:
print(statement)

Our projected Present Value of Projected Future Cash Flows are: 1635.9159534677815.

We are providing revenue guidance in 2032 to be: 1371.055561673072.

With an estimated EBITDA around: 616.9750027528823.

The terminal value a this time given a multiple of 32.70

and the above EBITDA for 2030, would equal: 20175.082590019254.